@model KCPS.WebComAdmin.PasswordVM
@using KCPS.WebFrameWork

<!--内容-开始-->
<div id="RightContainer">
    <!--当前-开始-->
    <div class="CtrlDiv">
        <div class="left">
            <b>系统设置</b>>> 密码修改
        </div>
        <div class="right">
        </div>
        <div class="clearboth"></div>
    </div>
    <!--当前-结束-->
    <!--标签-开始-->

    <div class="TabDiv">
        <table class="tabTable" cellspacing="0">
            <tr>
                <td class="itemTD cur">修改密码</td>
            </tr>
        </table>
    </div>
    <!--标签-结束-->
    <!--表单-开始-->
    @using (Html.BeginForm("ResetPassword", "SystemSetting", FormMethod.Post, new { onsubmit = "return checkManage()" }))
    {

        <div class="AddEditDiv">
            <table class="addTable ItemTable" cellspacing="2">
                <tr>
                    <td class="ltd">旧密码</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.oldPW)
                        <span class="f12 Red">* 必填</span>
                    </td>
                </tr>
                <tr>
                    <td class="ltd">新密码</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.newPW)
                        <span class="f12 Red">* 必填</span>
                    </td>
                </tr>
                <tr>
                    <td class="ltd">重复新密码</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.reNewPW)
                        <span class="f12 Red">* 必填</span>
                    </td>
                </tr>
            </table>
            <table class="addTable" cellspacing="2">
                <tr>
                    <td class="ltd"></td>
                    <td class="rtd">
                        <input type="submit" class="submitBtn submitDefault" value="确 定" />
                        <input type="reset" class="cancelBtn cancelDefault" value="重 置" />
                    </td>
                </tr>
            </table>
        </div>
    }
    <!--表单-结束-->
</div>
<!--内容-结束-->
@section scripts
{
    <script type="text/javascript">

        @Html.Raw(ViewBag.JS)

        function checkManage() {
            if ($('#oldPW').val() == '') {
                AlertDialog('旧密码不能为空');
                return false;
            }

            if ($('#newPW').val() == '') {
                AlertDialog('新密码不能为空');
                return false;
            }

            if ($('#reNewPW').val() == '') {
                AlertDialog('重复新密码不能为空');
                return false;
            }

            if ($('#newPW').val() != $('#reNewPW').val())
            {
                AlertDialog('新密码输入不一致。');
                return false;
            }

            showWorking();
            return true;
        }
    </script>
}
