@model DaXia.WebComAdmin.ProductTypeVM

<!--内容-开始-->
<div id="RightContainer">
    <!--当前-开始-->
    <div class="CtrlDiv">
        <div class="left">
            <b>产品管理</b>>>添加类别
        </div>
        <div class="right">
            <a href="/ControlPanelProduct/ProductTypes" class="backBtn backDefault" style="margin-right: 0px;">返回列表</a>
        </div>
        <div class="clearboth"></div>
    </div>
    <!--当前-结束-->
    <!--标签-开始-->

    <div class="TabDiv">
        <table class="tabTable" cellspacing="0">
            <tr>
                <td class="itemTD cur">类别信息</td>
            </tr>
        </table>
    </div>
    <!--标签-结束-->
    <!--表单-开始-->
    @using (Html.BeginForm("ProductTypeAddEdit", "ControlPanelProduct", FormMethod.Post, new { onsubmit = "return checkInput()" }))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="AddEditDiv">
            <table class="addTable ItemTable" cellspacing="2">
                <tr>
                    <td class="ltd">类别名</td>
                    <td class="rtd">
                        @Html.TextBoxFor(model => model.Name)
                        <span class="f12 Red">* 必填</span>
                    </td>
                </tr>                
            </table>
            <table class="addTable" cellspacing="2">
                <tr>
                    <td class="ltd"></td>
                    <td class="rtd">
                        <input type="submit" class="submitBtn submitDefault" value="确 定" />
                        <input type="reset" class="cancelBtn cancelDefault" value="重 置" />
                    </td>
                </tr>
            </table>
        </div>
    }
    <!--表单-结束-->
</div>
<!--内容-结束-->
@section scripts
{
    <script type="text/javascript">

        @Html.Raw(ViewBag.JS)

        function checkInput() {
            if ($('#Name').val() == '') {
                alert('用户名不能为空');
                return false;
            }            

            showWorking();

            return true;
        }        
    </script>
}
