@{
    Layout = null;
}
@model KCPS.WebComAdmin.Front.MyBankVM 
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的银行</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" href="/css/front/common.css" />
    <link rel="stylesheet" href="/css/front/style.css" />
</head>
<body>
    <!-- viewport -->
    <div class="viewport">
        <!-- headerTop -->
        <div class="headerTop">
            <a href="javascript:history.go(-1);"><span class="return">返回</span></a>我的银行
        </div>
        <!-- end headerTop -->
        <!-- newAddress -->
        <div class="newAddress">
            <ul>
                <li><label>应收账款</label><i>@Model.sholdGet</i></li>
                <li><label>已收账款</label><i>@Model.got</i></li>
                @*<li><label>未收账款</label><i>@Model.noGot</i></li>*@
                <li><label>可提现金</label><span>￥@Model.canTX</span></li>
            </ul>
        </div>
        <!-- end newAddress -->
    </div>
    @Html.Partial("_ShopFooter", 3)
</body>
</html>
