<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>  
  <connectionStrings>
    <!--<add name="ZXXT" connectionString="Data Source=CEDRICCHEN\CCHEN;Initial Catalog=KCPS;Persist Security Info=True;User ID=sa;Password=c.o7a@xa " providerName="System.Data.SqlClient" />-->
    <add name="ZXXT" connectionString="Data Source=PC-20161127OPRX\SQLEXPRESS;Initial Catalog=DaXia;Persist Security Info=True;User ID=sa;Password=sapassword " providerName="System.Data.SqlClient" />
  </connectionStrings> 
</configuration>